<section>
  <div *ngFor="let card of cards" [ngStyle]="cardStyle" class="card" style="width: 18rem;">
    <div [ngClass]="cardBodyClass">
      <h2 class="card-title mb-4">{{ card.literal }}</h2>
      <div *ngIf="!show_meaning">
        <p class="card-text">on_yomi: {{ card.on_yomi }}</p>
        <p class="card-text">kun_yomi: {{ card.kun_yomi }}</p>
      </div>
      <p *ngIf="show_meaning">Meaning: {{ card.meaning_en }}</p>
      <button (click)="flipCards()" class="mt-4">flip</button>
    </div>
  </div>
</section>
<a href="https://cs4640.cs.virginia.edu/sc8zt/learning_hanja/account/wordbook">Return</a>
