/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

a {
  text-decoration: none;
}
body {
  font-family: 'Playfair Display', serif;
}
:root {
  --main-theme: rgb(18, 75, 142);
  --sub-theme: rgb(52, 98, 151, 0.6);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 1.5rem;
}
#header-logo {
  display: flex;
  align-items: center;
  padding: 0;
}
#header-logo i {
  color: var(--sub-theme);
  cursor: pointer;
  margin-right: 10px;
}
header i:hover {
  color: var(--main-theme);
}
header p {
  justify-self: end;
  color: var(--sub-theme);
  font-size: 1.5rem;
}
header span {
  cursor: pointer;
}
header span:hover {
  color: var(--main-theme);
}
.active-lang {
  color: var(--main-theme);
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
section p {
  color: var(--sub-theme);
}
section #subheading {
  font-size: 2rem;
  letter-spacing: 2.2rem;
}
section h1 a {
  font-size: 5rem;
  font-weight: bold;
  color: var(--main-theme);
}
section img {
  margin: 4rem;
  width: 366px;
}
section #welcome-msg {
  font-size: 1.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: rgb(4, 61, 129, 0.54);
  height: 70px;
  padding: 1rem 2rem;
}
footer div {
  display: flex;
  align-items: center;
  height: 100%;
}

/*Search Page specific*/
#search-bar {
  width: 60%;
  margin: 4rem 0 6rem 0;
}
#search-bar i {
  position: relative;
  left: 35px;
  color: var(--main-theme);
}
#search-bar input {
  border: solid 2px var(--main-theme);
  border-radius: 7px;
  width: 90%;
  height: 3.5rem;
  padding: 10px;
  padding-left: 40px;
  font-size: 1.3rem;
  color: var(--sub-theme);
}
